body {
  overflow-x: hidden;
}

/* Background image for sign up page */
body.sign {
  background-image: url("./static/Signup_background.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* background-color: blue; */
}
