/* Background image for sign up page */
body.signup {
  background-image: url("./Signup_background.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
